/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fraunces', 'Barlow', serif ;
}
ul li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.intro{
    max-width: 1111px;
    margin: 0 auto;
}
.intro_bg{
    width: 1111px;
    height: 196px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.intro_menu{
    width: 1111px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 72px;
    position: relative;
}
.intro_menu_list img{
    transition: 0.5s;
}
.intro_menu_list img:hover{
    transform: scale(1.1);
}
.box{
    width: 255px;
    text-align: center;
    margin: 0 15px;
}
.box_title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin: 72px 0 24px 0;
    transition: 0.5s;
}
.box_title:hover{
    color: #6f90be;
}
.box_text{
    margin-bottom: 89px;
}
.paragrf{
    font-family:'Barlow', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.container{
    position: relative;
}
.contend{
    margin-top: 89px;
    width: 1280px;
    height: 600px;
    background-color: #333D4B;
    color: #fff;
    text-align: center;
    padding: 121px 350px;
    border-radius: 20px;
    margin: 0 auto;
}
.contend_title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
}
.secchn{
    display: flex;
    justify-content: center;
}
.container_menu{
    position: absolute;
    top: 367px;
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
}
.container_menu_list{
    width: 350px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px;
    text-align: center;
    transition: 0.5s;
}
.container_menu_list:hover{
    transform: scale(1.1);
    box-shadow: 10px 0 20px 0 rgb(114, 114, 113);
}
.menu_list_img{
    display: block;
    margin: 0 auto;
    margin-bottom: 56px;
}
.container_menu_list_title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 12px;
}
.container_menu_list_text{
    margin-top: 12px;
    color: #fefcf7;
}
