/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fraunces', 'Barlow', serif ;
}
a{
    display: block;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/* header  */
.header {
    width: 1280px;
    margin-top: 44px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}
.logo-link:hover {
    opacity: 0.7;
}
.site-logo {
    display: block;
}
.navbar {
    padding-top: 10px;
    /* padding-bottom: 4px; */
}
.nav-lists {
    
    display: flex;
    /* justify-content: space-between; */

}
.nav-list {
    margin-left: 33px;
    
}

.nav-nav-link {
    display: block;
    color: #83888F;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    transition: 2s ease;
}
.nav-nav-link:hover {
    background-color: black;
    color: #fff;
}
/* intro  */

.intro {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 600px;
    background-color: #83888F;
    border-radius: 5px;
}
.intro-wrapper {
    padding-top: 100px;    
    width: 50%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.intro-header {
    margin-left: 165px;
    width: 493px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;

}
.intro-text {
    margin-bottom: 56px;
    margin-left: 165px;
    width: 445px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.intro-link {
    margin-left: 165px  ;
    padding: 15px 31px 16px 31px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
    transition: 2s ease;

}
.intro-link:hover{
    background: #fff;
    color: #0E8784;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
/* header  */

.main{
    max-width: 1440px;
    margin: 0 auto;
}
.intro_list{
    max-width: 1111px;
    margin: 0 auto;
}
.intro_bg{
    width: 1111px;
    height: 196px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.intro_menu{
    width: 1111px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 72px;
    position: relative;
}
.intro_menu_list img{
    transition: 0.5s;
}
.intro_menu_list img:hover{
    transform: scale(1.1);
}
.box{
    width: 255px;
    text-align: center;
    margin: 0 15px;
}
.box_title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin: 72px 0 24px 0;
    transition: 0.5s;
}
.box_title:hover{
    color: #6f90be;
}
.box_text{
    margin-bottom: 89px;
}
.paragrf{
    font-family:'Barlow', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.container{
    position: relative;
}
.contend{
    margin-top: 89px;
    width: 1280px;
    height: 600px;
    background-color: #333D4B;
    color: #fff;
    text-align: center;
    padding: 121px 350px;
    border-radius: 20px;
    margin: 0 auto;
}
.contend_title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
}
.secchn{
    display: flex;
    justify-content: center;
}
.container_menu{
    position: absolute;
    top: 367px;
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
}
.container_menu_list{
    width: 350px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px;
    text-align: center;
    transition: 0.5s;
}
.container_menu_list:hover{
    transform: scale(1.1);
    box-shadow: 10px 0 20px 0 rgb(114, 114, 113);
}
.menu_list_img{
    display: block;
    margin: 0 auto;
    margin-bottom: 56px;
}
.container_menu_list_title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 12px;
}
.container_menu_list_text{
    margin-top: 12px;
    color: #fefcf7;
}

